<div class="footer-section-1">
	<ul class="links">
		<li><a href="http://the1994.com">1994</a></li>
<!--		<li><a href="http://runawayclothes.com">Runaway</a></li>-->
	</ul>	
</div>

<div class="footer-section-2">

</div>

<div class="footer-section-3">
	<ul class="footer-social-links">
		<li><a class="icon" target="_blank" href="https://twitter.com/1994israd">c</a></li>
<!--		<li><a class="icon" href="">e</a></li>-->
<!--		<li><a href="">c</a></li>-->
		<!-- <li><a href="">Blog</a></li> -->
	</ul>	
</div>