$font-one:'Quicksand', sans-serif;
$font-two: 'Allerta Stencil', sans-serif;
$font-three:'Megrim', cursive;
$font-four: 'Geo', sans-serif;
$color-one: #B63868;
$color-one: rgb(108, 200, 148);
$color-one-a:rgba(108, 200, 148, .7);
$color-two: rgba(128, 0, 128, .5);

body {
    font-family: $font-one, sans-serif;
    line-height: 1.4;
    background: #FFF;
    color: #444;
}

h1 { font-size: 2em; }
h2 { font-size: 1.5em; font-family: $font-one;}
h3 { font-size: 1.17em;}
h5 { font-size: .83em;  }
h6 { font-size: .75em;  }
h1, h2, h3, h4,
h5, h6 {
  font-weight: bolder
}

p {
  line-height: 1.4em;
  margin-bottom: 1em;
}

a {
  color: #00AAEE;
  text-decoration: none;
}

.icon {
	font-family: hflr;
}

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-color: #B1D28B; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
//	background:url(https://s3-us-west-2.amazonaws.com/1994/light-dark.jpg) no-repeat center center fixed;
//	background-size: cover;
	background-color: lightgrey;
  
  /* non-critical apperance styles */
  padding: 1em 0;
  
}
