.hero-container {
	height: 100vh;
	box-sizing: border-box;
	

	h1 {
		padding: 3em .5em;
		max-width: 20em;
	}

}

.now-playing-wrapper {
	box-sizing: border-box;
	border: 2px solid $color-one;
	text-align: center;
	padding: 0 2em;
	background-color: #DAD3D3;
	width: 99.7%;
	margin: .2em auto 0;
//	text-align: right;
	display:flex;
	justify-content: space-between;
	font-family: $font-four;
	font-size: 1.7em;
	transition: background-color 1s ease-in;
	border-bottom: none;
	h4, p {display:inline-block;}
	
	p{
		margin-left: .5em;
	}
	.now-playing-content {
		display:inline-block;
	}
	a {
		color: $color-one;
	}

}

.now-playing-wrapper:hover {
	background-color: black;
	transition: 15s background-color;
}

.tape {
	display: inline-block;
	width: 200px;
	height: auto
}

.content {
	padding-top: 1em;
	width: 95%;
	margin:0 auto;
	.header-lmm {
		display: block;
		text-align: center;
		flex-wrap: wrap;
		flex-direction: column;
		justify-content: center;
		align-items: baseline;
	
	}

	.page-title, .page-underling {
//		text-align: center;
		color: deeppink;
//		display: inline-block;
		margin-right: 1rem;
		
	}
	
	.page-h3 {
		display:block;
		color: #333;
		font-family: $font-four;
		font-size: 1.4em;
	}
	
	h2 {
		text-align: center;
	}

	.page-title{
		font-size: 6em;
		line-height: 1;
		font-family: 'Lora', serif;
//		margin-left: 6rem;
	}

	.page-underling {
		font-size: 4em;
		font-family: $font-two;
		margin-left: 1rem;
		text-transform: uppercase;
		color: #333;
		font-weight: 700;
		line-height: 1.1;
	}
	
	
	.color-flip {
		color: white;
		line-height: 1.1em;
		transition: 1.5s ease-in;
		background-color: $color-one;
		display:inline-block;
	}
	
	.color-flip:hover {
		transition: 1.5s ease-in;
		color: $color-one;
//		line-height: 1em;
		background-color: $color-two;
	}
	
	.alpha {
		font-family: $font-three;
		color: $color-one;
	}
	
	.now-playing-div {
		min-height: 1.4em;
	}
	p {
		margin-bottom: 0;
	}
}

#results  {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	min-height: 100vh;
	box-sizing: border-box;
//	margin-top: .25em;
//	padding: 0 1em 1em;


	
	li {
		min-width: 19.5%;
		text-align: center;
		background-color: $color-one-a;
		margin-bottom: 1em;
		position: relative;
		color: white;
		min-height: 24em;
		padding: 0 1px;
		transition: 1s background-color;
	}
	
	.mixTrack-li {
		transition: 1s background-color;
	}
	
	
	li:hover {
		background-color: $color-two;
		transition: none;
	}

	.is-playing {
		transition: 1s background-color;
		background-color: #2E965B;
	}
	
	img {
	  width: 130px;
		border-radius: 50%;
	}
	
	.song-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		
		p {
			margin-top: 1em;
			font-size: 1.3em;
			margin-bottom: 0;
			min-height: 4em;
		}
		
		a {
			color: white;
		}
	}
}

.note {
	min-height: 3em;
}

.holla {
 font-family: $font-four;
color: $color-one;
	font-size: 1.3em;
	transition: 1s;
}

.holla:hover {
	font-size: 1.8em;
	color: $color-two;
}

.chart-number {
	position: absolute;
	bottom: -03%;
	right: 3%;
	font-size: 5em;
	color: #333;
	font-family: $font-four;
}

.stop, .start {
	font-size: 3em;
	color: #444;
}

@media screen and (max-width: 750px) {
	#results {
		li {
			min-width: 49%;
		}
	}

}